<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>demo</title>
</head>
<body>
<p>
    <a href="http://git.oschina.net/btpka3/btpka3/wikis/task">题目</a><br>
* 0. 打印系统时间（开始时间）。<br>
* 1. 针对参数（比如 `[1,2,3]` ）中的每一个数值 "并发" 执行进行以下操作（假设当前数值为n）：<br>
*    1.1 先暂停n秒。<br>
*    1.2 计算 n^2 + 1<br>
*    1.3 控制台输出 当前系统时间，以及1.2步计算结果。<br>
*
* 2. 对上述计算结果进行求和（假设为S），并打印到控制台。<br>
*    比如： (1^2+1) + (2^2+1) + (3^2+1) = 2 + 5 + 10 = 17。则控制台输出 17<br>。
*<br>
* 3. 打印系统时间（结束时间），并打印总耗时（结束时间-开始时间）<br>。
*    总耗时（秒）应当在数组中最大值左右（3秒左右）。<br>
*<br>
* @param intArr 自然数数组。
</p>
<script>
    window.onload = function() {
        //定义数组
        var intArr = [ 1, 2, 3 , 8];
        myTask(intArr);
    };

    var res=0;

    function myTask(intArr){
        //开始时间
        var start = new Date().getTime();
        console.log('startTime:' + start);
        for ( var i = 0; i < intArr.length; i++) {
            setTimeout("count("+intArr[i]+","+start+")", intArr[i] * 1000);
            //执行到最后一步,打印总和
            if(i==intArr.length-1){
                setTimeout('sum()',intArr[i] * 1000);
            }
        }
    }

    function count(num,startTime){
        //计算n的平方加1
        var s = num*num+1;
        console.log('计算结果:' + s);
        endTime = new Date().getTime();
        //打印结束时间和用时
        console.log('end:' + endTime);
        console.log('time:' + (endTime - startTime) + 'ms');
        //总和++
        res+=s;
    }
    //打印总和方法
    function sum(){
        console.log("res:"+res);
    }
</script>
</body>
</html>